h1 {
  text-align: center;
  color: white;
  font-family: sans-serif;
  user-select: none;
}

body {
  background-color: #2b3137;
  background-image: url("/picture/simple-codelines.svg");
}

#m_icon {
  position: absolute;
  top: -158px;
  left: 122px;
  background-image: url("/picture/flag.png");
  width: 132px;
  height: 154px;
}

p {
  user-select: none;
}

#main {
  top: 270px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
}

#form {
  background-color: white;
  border-radius: 4pt;
  padding-top: 20px;
  padding-bottom: 15px;
  width: 100%;
  height: 280px;
  text-align: center;
  padding-left: 5px;
  font-size: 12pt;
  color: #586069;
  font-family: sans-serif;
}

.title {
  margin: 0;
  text-align: left;
  width: 80%;
  margin-left: 8%;
}

input {
  width: 86%;
  margin: 5px;
  padding: 10px;
  font-size: 15pt;
  border-radius: 4pt;
  border: 1px solid #d1d5da;
}

/*input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px white inset !important;
}*/

#set {
  border: 1px solid black;
  left: 80px;
  position: absolute;
  width: 70px;
  height: 30px;
  margin-top: 20px;
  font-size: 15pt;
  color: white;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  border-radius: 4pt;
  font-weight: bold;
  border: 1px solid rgba(27,31,35,0.2);
  padding: 5px;
  cursor: pointer;
}

#set:hover {
  opacity: 0.8;
}

#submit {
  border: 1px solid black;
  left: 31px;
  position: absolute;
  width: 83%;
  height: 30px;
  margin-top: 20px;
  font-size: 15pt;
  color: white;
  background-color: #28a745;
  background-image: linear-gradient(-180deg, #34d058 0%, #28a745 90%);
  border-radius: 4pt;
  font-weight: bold;
  border: 1px solid rgba(27,31,35,0.2);
  padding: 5px;
  cursor: pointer;
}

#submit:hover {
  opacity: 0.8;
}

.hide {
  opacity: 0;
}

.warning {
  position: absolute;
  color: white;
  width: 270px;
  margin: 0px;
  text-align: left;
  background-image: linear-gradient(-180deg, #f95454 0%, #d10202 90%);
  border-radius: 8px;
  padding: 10px;
  font-weight: bold;
}

.show {
  /*transition: 1s;*/
  opacity: 1;
}

#a {
  left: 110%;
  top: 98px;
}

#b {
  left: 110%;
  top: 194px;
}

#c {
  left: 110%;
  top: 247px;
}

#d {
  left: 110%;
  top: 323px;
}

#e {
  top: -87px;
  left: 55px;
  font-size: 18pt;
  text-align: center;
}

#register {
  position: absolute;
  top: 326px;
  left: 73px;
}

a {
  color: #0366d6;
  text-decoration: none;
}